---
const { component_id, heading, subheading, subheading_link, cards } = Astro.props;
const componentName = "content-card";
import { Image } from "astro:assets";
import { getImageSrc } from "@helper/imageSrc";
---

<section {...component_id ? { id: component_id } : {}} class=`${componentName}`>
    <div class="py-8 md:py-24 wrapper">
        <div class="text-center">
            <h2>
                {heading}
            </h2>
            <a href={subheading_link} class="mt-4 inline-flex items-center text-lg font-medium">
                {subheading}
                <svg
                    class="ml-1 w-6 h-6"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
        {
            cards && cards.length > 0 && (
                <div class="grid gap-6 mt-12 lg:mt-14 lg:gap-12 md:grid-cols-3">
                    {cards.map((card) => {
                        const src = getImageSrc(card.image_path);
                        return (
                            <div class="flex mb-2 md:flex-col md:mb-0">
                                <Image
                                    class="mr-4 w-auto h-36 md:w-full md:h-auto rounded-lg"
                                    src={src}
                                    alt={card.title}
                                    height={144}
                                    width={144}
                                    alt=""
                                />
                                <div>
                                    <h3 class="md:mt-4 mb-2.5 ">{card.title}</h3>
                                    <p>{card.description}</p>
                                </div>
                            </div>
                        );
                    })}
                </div>
            )
        }
    </div>
</section>
