---
const { component_id, heading, cards } = Astro.props;
const componentName = "features-comparison-tables";
---

<section {...component_id ? { id: component_id } : {}} class=`${componentName}`>
    <div class="py-8 md:py-24 wrapper">
        <h2 class="mx-auto max-w-screen-md text-center">{heading}</h2>
        <div
            class="mt-16 flex flex-col md:flex-row gap-6 items-start justify-between max-w-screen-lg mx-auto"
        >
            {
                cards &&
                    cards.length > 0 &&
                    cards.map((card, index) => (
                        <div
                            class:list={[
                                "rounded-lg",
                                "border",
                                "w-full",
                                card.featured
                                    ? "bg-white p-10 border-primary-500 md:w-6/12"
                                    : "bg-gray-50 p-4 border-gray-200 md:w-3/12",
                            ]}>
                            {card.featured ? (
                                <h3 class="h4">{card.title}</h3>
                            ) : (
                                <h3 class="h5">{card.title}</h3>
                            )}

                            <ul role="list" class="mt-2 my-6 lg:mb-0 space-y-4">
                                {card.items.map((item) => (
                                    <li class="flex space-x-2.5">
                                        {card.featured ? (
                                            <svg
                                                width="16"
                                                height="17"
                                                viewBox="0 0 16 17"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0 8.58008C0 4.1618 3.58172 0.580078 8 0.580078C12.4183 0.580078 16 4.1618 16 8.58008C16 12.9984 12.4183 16.5801 8 16.5801C3.58172 16.5801 0 12.9984 0 8.58008Z"
                                                    fill="#C0DDFF"
                                                />
                                                <path
                                                    d="M6.86216 11.9132C6.7316 11.9139 6.60601 11.8525 6.51227 11.7424L4.15098 8.96489C4.10391 8.9092 4.06636 8.84281 4.04046 8.76952C4.01456 8.69622 4.00083 8.61747 4.00004 8.53774C3.99844 8.37673 4.04968 8.22154 4.14248 8.10632C4.23528 7.9911 4.36203 7.92529 4.49486 7.92336C4.62769 7.92142 4.75571 7.98353 4.85077 8.09602L6.86416 10.4633L11.1489 5.41912C11.2441 5.30663 11.3722 5.24459 11.5051 5.24663C11.6381 5.24868 11.7649 5.31465 11.8577 5.43003C11.9505 5.54541 12.0016 5.70075 12 5.86187C11.9983 6.023 11.9439 6.17672 11.8487 6.2892L7.21206 11.7424C7.11831 11.8525 6.99273 11.9139 6.86216 11.9132Z"
                                                    fill="#0070F3"
                                                />
                                            </svg>
                                        ) : (
                                            <svg
                                                width="16"
                                                height="17"
                                                viewBox="0 0 16 17"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0 8.58008C0 4.1618 3.58172 0.580078 8 0.580078C12.4183 0.580078 16 4.1618 16 8.58008C16 12.9984 12.4183 16.5801 8 16.5801C3.58172 16.5801 0 12.9984 0 8.58008Z"
                                                    fill="#707070"
                                                />
                                                <path
                                                    d="M5.07322 6.00685C4.97559 5.90922 4.97559 5.75093 5.07322 5.6533C5.17085 5.55567 5.32915 5.55567 5.42678 5.6533L8 8.22652L10.5732 5.6533C10.6709 5.55567 10.8291 5.55567 10.9268 5.6533C11.0244 5.75093 11.0244 5.90922 10.9268 6.00685L8.35355 8.58008L10.9268 11.1533C11.0244 11.2509 11.0244 11.4092 10.9268 11.5069C10.8291 11.6045 10.6709 11.6045 10.5732 11.5069L8 8.93363L5.42678 11.5069C5.32915 11.6045 5.17085 11.6045 5.07322 11.5069C4.97559 11.4092 4.97559 11.2509 5.07322 11.1533L7.64645 8.58008L5.07322 6.00685Z"
                                                    fill="#F7F7F7"
                                                />
                                            </svg>
                                        )}
                                        <span class="">{item.text}</span>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    ))
            }
        </div>
    </div>
</section>
