---
const { component_id, heading, content_html, testimonials } = Astro.props;
const componentName = "testimonials-carousel";
---

<section {...component_id ? { id: component_id } : {}} class=`${componentName}`>
    <div class="py-8 md:py-24 wrapper">
        <div class="mx-auto max-w-screen-sm mb-8 lg:mb-16">
            <h2>{heading}</h2>
            <div class="prose content-html mt-4">
                <Fragment set:html={content_html} />
            </div>
        </div>
        <div id="testimonial-carousel" class="relative" data-carousel="slide">
            <div
                class="overflow-x-hidden overflow-y-visible relative mx-auto max-w-screen-md h-52 rounded-lg sm:h-48"
            >
                {
                    testimonials &&
                        testimonials.length > 0 &&
                        testimonials.map((testimonial) => (
                            <figure
                                class="hidden mx-auto w-full max-w-screen-md"
                                data-carousel-item>
                                <blockquote>
                                    <p class="lead">"{testimonial.description}"</p>
                                </blockquote>
                                <figcaption class="flex justify-center items-center mt-6 space-x-3">
                                    <img
                                        class="w-6 h-6 rounded-full"
                                        src={testimonial.image}
                                        alt={testimonial.name}
                                    />
                                    <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                        <div class="pr-3 font-medium text-gray-900 dark:text-white">
                                            {testimonial.name}
                                        </div>
                                        <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">
                                            {testimonial.position}
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        ))
                }
            </div>
            <div class="flex justify-center items-center">
                <button
                    type="button"
                    aria-label="Previous"
                    class="flex justify-center items-center mr-4 h-full cursor-pointer group focus:outline-none"
                    data-carousel-prev
                >
                    <span
                        class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200"
                    >
                        <svg
                            class="w-6 h-6"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="hidden">Previous</span>
                    </span>
                </button>
                <button
                    type="button"
                    aria-label="Next"
                    class="flex justify-center items-center h-full cursor-pointer group focus:outline-none"
                    data-carousel-next
                >
                    <span
                        class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200"
                    >
                        <svg
                            class="w-6 h-6"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="hidden">Next</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>
