---
const { component_id, heading, content_left_html, content_right_html, url, link_text } =
    Astro.props;
const componentName = "content-heading-description";
---

<section {...component_id ? { id: component_id } : {}} class=`${componentName}`>
    <div class="gap-16 items-center py-8 md:py-24 wrapper lg:grid lg:grid-cols-2">
        <div class="space-y-4">
            <h2>{heading}</h2>
            <div class="content-html">
                <Fragment set:html={content_left_html} />
            </div>
            <a href={url} class="inline-flex items-center font-medium">
                {link_text}
                <svg
                    class="ml-1 w-6 h-6"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path></svg
                >
            </a>
        </div>
        <div class="mt-4">
            <div class="content-html">
                <Fragment set:html={content_right_html} />
            </div>
        </div>
    </div>
</section>
