---
const { component_id, heading, content_textarea, list } = Astro.props;
const componentName = "features-icon-link";
import { Image } from "astro:assets";
---

<section {...component_id ? { id: component_id } : {}} class=`${componentName}`>
    <div class="py-8 md:py-24 wrapper">
        <h2>
            {heading}
        </h2>
        <p class="mt-4 lead">
            {content_textarea}
        </p>
        {
            list && list.length > 0 && (
                <div class="mt-8 lg:mt-12 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                    {list.map((item) => (
                        <div>
                            <Image
                                src={item.icon_image}
                                class="mx-auto mb-4 w-12 h-12 text-primary-600 dark:text-primary-500"
                                alt=""
                                width="48"
                                height="48"
                            />

                            <h3>{item.title}</h3>
                            <p class="mt-2">{item.description}</p>
                            <a
                                href={item.link}
                                class="mt-4 inline-flex items-center text-sm font-medium">
                                {item.link_text}{" "}
                                <svg
                                    class="ml-1 w-5 h-5"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </a>
                        </div>
                    ))}
                </div>
            )
        }
    </div>
</section>
