---
const { component_id, heading, items } = Astro.props;
const componentName = "faq-accordion";
---

<section {...component_id ? { id: component_id } : {}} class=`${componentName}`>
    <div class="py-8 md:py-24 wrapper">
        <h2>{heading}</h2>
        {
            items && items.length > 0 && (
                <div class="mx-auto max-w-screen-md mt-4">
                    <div
                        id="accordion-flush"
                        data-accordion="collapse"
                        data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
                        data-inactive-classes="text-gray-500 dark:text-gray-400">
                        {items.map((item, index) => (
                            <>
                                <h3 id={`accordion-flush-heading-${index}`}>
                                    <button
                                        type="button"
                                        class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-900 bg-white border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:text-white"
                                        data-accordion-target={`#accordion-flush-body-${index}`}
                                        aria-expanded="true"
                                        aria-label="Toggle question"
                                        aria-controls={`accordion-flush-body-${index}`}>
                                        <span>{item.question}</span>
                                        <svg
                                            data-accordion-icon=""
                                            class="w-6 h-6 rotate-180 shrink-0"
                                            fill="currentColor"
                                            viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </button>
                                </h3>
                                <div
                                    id={`accordion-flush-body-${index}`}
                                    class=""
                                    aria-labelledby={`accordion-flush-body-${index}`}>
                                    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                        <div class="mb-2">
                                            <Fragment set:html={item.answer_html} />
                                        </div>
                                    </div>
                                </div>
                            </>
                        ))}
                    </div>
                </div>
            )
        }
    </div>
</section>
