---
import site from "@data/site.json";
import footer from "@data/footer.json";
import Icon from "@helper/icon";
import Badge from "./Badge.astro";
import FormFooter from "@layouts/forms/FormFooter.astro";

const today = new Date();
const year = today.getFullYear();
---

<footer id="site-footer" class="bg-gray-700 rounded-t-3xl md:rounded-t-4xl pt-24">
    <div class="wrapper">
        {
            footer.sections && footer.sections.length > 0 && (
                <div class="flex flex-col md:flex-row gap-8 items-start justify-between">
                    <div class="md:w-8/12 w-full flex flex-col md:flex-row gap-8 items-start justify-between">
                        <div class="flex flex-col md:w-1/3 w-full">
                            {footer.sections.slice(0, 2).map((section, index) => (
                                <>
                                    <h3
                                        class={`${index !== 0 ? "hidden" : ""} font-heading text-white text-lg font-extrabold uppercase`}>
                                        SOLUTIONS
                                    </h3>

                                    <h4 class="text-white text-sm font-semibold uppercase mt-4 font-heading">
                                        {section.heading}
                                    </h4>
                                    {section.items && section.items.length > 0 && (
                                        <ul class="space-y-4 mt-4">
                                            {section.items.map((item) => (
                                                <li class="capitalize">
                                                    <a
                                                        href={item.link}
                                                        class="text-gray-200 hover:text-gray-400 no-underline hover:underline">
                                                        {item.text}
                                                    </a>
                                                </li>
                                            ))}
                                        </ul>
                                    )}
                                </>
                            ))}
                        </div>
                        {footer.sections.slice(2).map((section) => (
                            <div class="md:w-1/3 w-full">
                                <h4 class="text-white text-sm font-semibold uppercase font-heading">
                                    {section.heading}
                                </h4>
                                {section.items && section.items.length > 0 && (
                                    <ul class="space-y-4 mt-4">
                                        {section.items.map((item) => (
                                            <li class="capitalize">
                                                <a
                                                    href={item.link}
                                                    class="text-gray-200 hover:text-gray-400 no-underline hover:underline">
                                                    {item.text}
                                                </a>
                                            </li>
                                        ))}
                                    </ul>
                                )}
                            </div>
                        ))}
                    </div>
                    <div class="md:w-4/12 w-full">
                        <FormFooter form={footer.form} />
                    </div>
                </div>
            )
        }

        <hr class="mt-6 mb-12 text-white" />
        <div
            class="flex flex-col justify-start md:justify-between items-start md:items-center text-left md:text-center lg:flex-row gap-4"
        >
            <a href={site.home_url} class="flex items-center">
                <img
                    src={site.logo_additional_image}
                    class="h-8 w-24"
                    alt="logo"
                    width="96"
                    height="32"
                />
            </a>
            <span class="block text-sm text-white"
                >© {year}{" "}
                <a
                    href={site.home_url}
                    class="hover:underline hover:text-white text-white no-underline"
                    >{site.site_title}</a
                >. {footer.copyright}
            </span>
            <div>
                {
                    footer.socials && footer.socials.length > 0 && (
                        <ul class="flex justify-center space-x-4">
                            {footer.socials.map((social) => (
                                <li class="w-6 h-6">
                                    <a href={social.link} class="!text-green-400">
                                        <Icon icon={social.icon} />
                                    </a>
                                </li>
                            ))}
                        </ul>
                    )
                }
            </div>
        </div>
        <Badge />
    </div>
</footer>
