---
const { component_id, heading, footer_html, image } = Astro.props;
const componentName = "hero-signup";
import { Image } from "astro:assets";
import { getImageSrc } from "@helper/imageSrc";

const src = getImageSrc(image.image_path);
---

<section {...component_id ? { id: component_id } : {}} class=`${componentName}`>
    <div class="wrapper grid py-8 md:py-24 gap-8 lg:gap-12 xl:gap-0 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7 xl:col-span-8">
            <svg
                width="101"
                height="30"
                viewBox="0 0 101 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <rect x="0.5" y="1.04932" width="100" height="28" rx="7.5" fill="white"></rect>
                <rect
                    x="0.5"
                    y="1.04932"
                    width="100"
                    height="28"
                    rx="7.5"
                    stroke="url(#paint0_linear_615_57105)"></rect>
                <path
                    d="M13.2496 20.5493V19.1073H15.5596V12.3943C15.5596 12.245 15.5923 12.1213 15.6576 12.0233C15.7229 11.9206 15.8139 11.8506 15.9306 11.8133H13.2496V10.3713H19.4796V11.8133H17.1626V18.5263C17.1626 18.671 17.1299 18.7946 17.0646 18.8973C17.0039 19 16.9129 19.07 16.7916 19.1073H19.4796V20.5493H13.2496ZM24.1151 20.5493V12.3523C24.1151 12.203 24.1478 12.0793 24.2131 11.9813C24.2785 11.8786 24.3695 11.8086 24.4861 11.7713H21.3991V10.3713H28.3991V11.7713H25.6831V20.5493H24.1151ZM32.7337 15.5583V14.2773H33.0067C33.1327 14.2773 33.2283 14.2423 33.2937 14.1723C33.359 14.1023 33.4033 13.9576 33.4267 13.7383C33.45 13.519 33.4617 13.1853 33.4617 12.7373C33.4617 12.42 33.485 12.1936 33.5317 12.0583C33.583 11.923 33.7323 11.8203 33.9797 11.7503H32.6357V9.65732H34.7147V12.2683C34.7147 13.4023 34.57 14.2353 34.2807 14.7673C33.996 15.2946 33.5317 15.5583 32.8877 15.5583H32.7337ZM42.0382 20.6893C41.3242 20.6893 40.6942 20.582 40.1482 20.3673C39.6022 20.148 39.1729 19.798 38.8602 19.3173C38.5522 18.832 38.3912 18.1926 38.3772 17.3993H39.9032C39.9172 17.894 40.0292 18.279 40.2392 18.5543C40.4492 18.8296 40.7199 19.0233 41.0512 19.1353C41.3825 19.2426 41.7349 19.2963 42.1082 19.2963C42.5235 19.2963 42.8735 19.2333 43.1582 19.1073C43.4429 18.9813 43.6575 18.8156 43.8022 18.6103C43.9515 18.4003 44.0262 18.1786 44.0262 17.9453C44.0262 17.6 43.9469 17.3223 43.7882 17.1123C43.6295 16.8976 43.3822 16.7133 43.0462 16.5593C42.7102 16.4053 42.2785 16.249 41.7512 16.0903C41.1865 15.9176 40.6779 15.689 40.2252 15.4043C39.7725 15.115 39.4155 14.765 39.1542 14.3543C38.8929 13.9436 38.7622 13.4723 38.7622 12.9403C38.7622 12.3243 38.9162 11.8156 39.2242 11.4143C39.5322 11.0083 39.9382 10.7073 40.4422 10.5113C40.9509 10.3106 41.4969 10.2103 42.0802 10.2103C42.9622 10.2103 43.6902 10.4506 44.2642 10.9313C44.8382 11.412 45.1835 12.147 45.3002 13.1363H43.8372C43.7952 12.8143 43.6972 12.539 43.5432 12.3103C43.3892 12.0816 43.1839 11.9066 42.9272 11.7853C42.6752 11.664 42.3695 11.6033 42.0102 11.6033C41.4969 11.6033 41.0769 11.7106 40.7502 11.9253C40.4235 12.1353 40.2602 12.4526 40.2602 12.8773C40.2602 13.1713 40.3092 13.428 40.4072 13.6473C40.5052 13.862 40.7012 14.0626 40.9952 14.2493C41.2892 14.4313 41.7279 14.625 42.3112 14.8303C42.7312 14.975 43.1349 15.129 43.5222 15.2923C43.9095 15.451 44.2549 15.64 44.5582 15.8593C44.8615 16.0786 45.1019 16.3493 45.2792 16.6713C45.4565 16.9886 45.5452 17.383 45.5452 17.8543C45.5499 18.4423 45.4005 18.9486 45.0972 19.3733C44.7939 19.798 44.3762 20.1246 43.8442 20.3533C43.3169 20.5773 42.7149 20.6893 42.0382 20.6893ZM55.9783 20.5493V10.3713H62.1943V11.7013H56.8533L57.5533 11.0503V15.2363L56.8603 14.7323H61.5993V16.0623H57.3433L57.5533 15.6563V20.5493H55.9783ZM69.7628 20.5493L67.4318 16.5313H65.8148L65.3528 16.4263L65.5558 15.3483V15.1243H67.4458C67.8658 15.1243 68.1995 15.0496 68.4468 14.9003C68.6941 14.751 68.8715 14.5456 68.9788 14.2843C69.0908 14.023 69.1468 13.7243 69.1468 13.3883C69.1468 12.973 69.0791 12.6463 68.9438 12.4083C68.8085 12.1656 68.6055 11.9906 68.3348 11.8833C68.0688 11.776 67.7328 11.7223 67.3268 11.7223L65.9408 11.7153L65.9268 11.3933L65.3458 10.3713C65.5605 10.3713 65.7775 10.3713 65.9968 10.3713C66.2208 10.3713 66.4355 10.3713 66.6408 10.3713C66.8508 10.3713 67.0421 10.3713 67.2148 10.3713C68.4141 10.3713 69.3031 10.6023 69.8818 11.0643C70.4651 11.5216 70.7568 12.252 70.7568 13.2553C70.7568 13.582 70.7148 13.911 70.6308 14.2423C70.5515 14.5736 70.4161 14.884 70.2248 15.1733C70.0381 15.4626 69.7861 15.71 69.4688 15.9153C69.1561 16.1206 68.7665 16.263 68.2998 16.3423L68.1528 16.1323C68.3628 16.1323 68.5331 16.1486 68.6638 16.1813C68.7945 16.2093 68.9111 16.2746 69.0138 16.3773C69.1211 16.48 69.2378 16.6433 69.3638 16.8673L71.4848 20.5493H69.7628ZM64.4428 20.5493V10.3713H65.9828V20.5493H64.4428ZM72.9773 20.5493V10.3713H78.9833V11.7013H73.8313L74.5313 11.0503V15.0263L73.8313 14.5433H78.4443V15.8733H74.1463L74.5313 15.3273V20.0033L73.8313 19.1843H79.2353V20.5493H72.9773ZM81.5119 20.5493V10.3713H87.5179V11.7013H82.3659L83.0659 11.0503V15.0263L82.3659 14.5433H86.9789V15.8733H82.6809L83.0659 15.3273V20.0033L82.3659 19.1843H87.7699V20.5493H81.5119Z"
                    fill="#0070F3"></path>
                <defs>
                    <linearGradient
                        id="paint0_linear_615_57105"
                        x1="50.5"
                        y1="0.549314"
                        x2="96.9969"
                        y2="59.137"
                        gradientUnits="userSpaceOnUse"
                    >
                        <stop stop-color="#0070F3"></stop>
                        <stop offset="1" stop-color="white"></stop>
                    </linearGradient>
                </defs>
            </svg>

            <h1 class="max-w-2xl mt-2 h2 font-bold font-heading">
                {heading.before_highlighted}
                <span class="text-primary-500">{heading.highlighted}</span>
                {heading.after_highlighted}
            </h1>
            <form action="#" class="mt-8">
                <div>
                    <div class="relative w-full md:w-2/3">
                        <label
                            for="member_email"
                            class="hidden text-sm font-medium text-gray-900 dark:text-gray-300"
                            >Email address</label
                        >
                        <input
                            class="input w-full mt-2"
                            placeholder="Enter your email"
                            type="email"
                            name="member[email]"
                            id="member_email"
                            required=""
                        />
                        <input
                            type="submit"
                            value="Try for free"
                            class="button primary relative md:absolute right-0 top-0 md:rounded-l-none w-full md:w-auto mt-3 md:mt-0"
                            name="member_submit"
                            id="member_submit"
                        />
                    </div>
                </div>
            </form>
            <div class="[&>p]:text-sm mt-3">
                <Fragment set:html={footer_html} />
            </div>
        </div>
        <div class="lg:mt-0 lg:col-span-5 xl:col-span-4">
            <Image src={src} alt="" class="shadow" width={800} height={500} />
        </div>
    </div>
</section>
